# API Keys for Global Payments
# Replace these sample values with your actual API keys

# Portico
PUBLIC_API_KEY=pkapi_cert_jKc1FtuyAydZhZfbB3  #gitleaks:allow
SECRET_API_KEY=skapi_cert_MTyMAQBiHVEAewvIzXVFcmUd2UcyBge_eCpaASUp0A  #gitleaks:allow